// chua tuy chinh ve font, kieu chu, kich co, size,line,color...
.bold-font {
    font-family: Barlow-Bold;
}

.semi-font {
    font-family: Semi-Bold;
}

.thin-font {
    font-family: Barlow-Regular;
}